.visible-mobile.mobile-menu  
  nav.mobile-menu__navigation
    ul.mobile-menu__list
      li.mobile-menu__item
        a.mobile-menu__link(href="#") Home
      li.mobile-menu__item
        a.mobile-menu__link(href="#") Service
      li.mobile-menu__item
        a.mobile-menu__link(href="#") Top cities
      li.mobile-menu__item
        a.mobile-menu__link(href="#") Contract