:root{
  --orange: #ff7a50;
  --dark-blue: #363853;
  --light-beige: #F9FAFF;
  --white: #ffff;

  // текст
  --btn-color: var(--white);
  --primary-color: var(--orange);
  --base-font-family: "Rubik", sans-serif;
  --text-color: var(--dark-blue);
  --base-font-weight: 400;

  // container
  --site-bg-color: var(--light-beige);
  --section-padding-y: 70px;
  --container-padding-x: 15px;

  // svg
  --fillColor: currentColor;
  --strokeColor: initial;
}

.button {
  --button-bg-color: var(--primary-color);
  --button-padding: 0 20px;
  --button-heigth: 50px;
  --button-br-radius: 5px;
  --button-font-size: 20px;
  --hover-bg-color:#FF8B66;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-heigth);
  padding: 0;
  border: none;
  font-size: var(--button-font-size);
  outline: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;

  &--transparent{
    --button-bg-color: transparent;
    --hover-bg-color: none;
    text-decoration: underline;
    color: var(--text-color);
  }

  &__body {
    border-radius: var(--button-br-radius);
    display: flex;
    align-items: center;
    height: 100%;
    padding: var(--button-padding);
    background-color: var(--button-bg-color);
    &:hover {
      background-color: var(--hover-bg-color);
    }
  }
}
